<?xml version="1.0" encoding="utf-8" ?>
<phpunit  backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    
    <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">../../includes/utilities</directory>
    <file>../../includes/class-cb-aggregate-tracking-data.php</file>
    <file>../../includes/class-cb-commands.php</file>
    <file>../../includes/class-cb-raw-tracking-data.php</file>
  </whitelist>
</filter>

</phpunit>